<component name="ArtifactManager">
  <artifact type="war" name="springmvc-002-datasubmit:war">
    <output-path>$PROJECT_DIR$/springmvc-002-datasubmit/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-002-datasubmit</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-002-datasubmit-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-002-datasubmit:war exploded" />
    </root>
  </artifact>
</component>